services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: train
      POSTGRES_PASSWORD: Ankara06
      POSTGRES_DB: traindb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: fastapi_app
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      # Docker network environment override
      - SQLALCHEMY_DATABASE_URL=postgresql+psycopg2://train:Ankara06@db:5432/traindb
    volumes:
      - ./saved_models:/app/saved_models
      - ./data:/app/data

volumes:
  postgres_data: